.page-kind {
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  background-image: linear-gradient(to left, #ffffff, #ffba00 350%);
  border: 0.5px solid #dbdbdb;
  text-align: right;
  margin: 15px;
}

.inf-check {
  height: 50px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  background: -webkit-linear-gradient(90deg, #ffd560 0%, #ff6c00 100%);
  background: -moz-linear-gradient(90deg, #ffd560 0%, #ff6c00 100%);
  background: -o-linear-gradient(90deg, #ffd560 0%, #ff6c00 100%);
  background: linear-gradient(90deg, #ffd560 0%, #ff6c00 100%);
  color: #ffffff;
  margin: 5px 0 0;
  padding: 5px 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.returning_customer {
  text-align: right;
  border-bottom: 1px solid #ffba00;
}

.returning_customer p {
  margin-top: 15px;
  padding-right: 30px;
  margin-bottom: 25px;
}
.returning_customer .contact_form {
  max-width: 710px;
  margin-left: 15px;
}
.returning_customer .contact_form .form-group {
  margin-bottom: 20px;
}
.returning_customer .contact_form .form-group input {
  border: 1px solid #eeeeee;
  height: 40px;
  border-radius: 3px;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
}
.returning_customer .contact_form .form-group input.placeholder {
  font-size: 14px;
  color: #777777;
  font-weight: normal;
}

.returning_customer .contact_form .form-group .primary-btn {
  line-height: 38px;
  padding: 0px 38px;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
}
.returning_customer .contact_form .form-group .creat_account {
  display: inline-block;
  margin-left: 15px;
}
.returning_customer .contact_form .form-group .creat_account input {
  height: auto;
  margin-right: 10px;
}
.returning_customer .contact_form .form-group .lost_pass {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
}

.check_title h2 {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  background: #e8f0f2;
  line-height: 40px !important;
  padding-right: 30px;
  margin-bottom: 0px;
}
.check_title h2 a {
  color: #c5322d;
  text-decoration: underline;
}

.billing_details {
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
}

.billing_details h3 {
  text-align: right;
  font-size: 18px;
  color: #222222;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 20px;
}
.billing_details .contact_form .form-group {
  margin-bottom: 20px;
}
.billing_details .contact_form .form-group input {
  border-radius: 3px;
  color: #777777;
}
.billing_details .contact_form .form-group input.placeholder {
  color: #777777;
}
.billing_details .contact_form .form-group textarea {
  height: 150px;
  border-radius: 3px;
  margin-top: 15px;
}
.billing_details .contact_form .form-group .country_select {
  width: 100%;
}
.billing_details .contact_form .form-group .country_select span {
  color: #777777;
}
.billing_details .contact_form .form-group .country_select .list {
  width: 100%;
  border-radius: 0px;
}
.billing_details .contact_form .form-group .country_select .list li {
  font-size: 14px;
  font-weight: normal;
}
.billing_details .contact_form .form-group .creat_account #f-option2 {
  margin-right: 5px;
}
.billing_details .contact_form .form-group .creat_account #f-option3 {
  margin-right: 5px;
}
.billing_details .contact_form .form-group .creat_account a {
  color: #ffba00;
}

.contact_form .form-group {
  margin-bottom: 10px;
}
.contact_form .form-group .form-control {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding-left: 20px;
}

.contact_form .primary-btn {
  background: #ffba00;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 0;
}

.contact_form .form-group {
  margin-bottom: 10px;
}
.contact_form .form-group .form-control {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  border-radius: 0px;
  padding-left: 20px;
}
.contact_form .form-group .form-control:focus {
  box-shadow: none;
  outline: none;
}
.contact_form .form-group .form-control.placeholder {
  color: #999;
}
.contact_form .form-group textarea {
  resize: none;
}
.contact_form .form-group textarea.form-control {
  height: 134px;
}
.contact_form .primary-btn {
  background: #ffba00;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 0;
}

.p_star {
  display: inline-block;
  position: relative;
}

.p_star input {
  background: #fff;
}

.p_star input:focus + .placeholder {
  display: none;
}

.p_star .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 1;
}

.p_star .placeholder::before {
  content: attr(data-placeholder);
  color: #777;
}

.p_star .placeholder::after {
  content: " *";
  color: tomato;
}

.mro {
  margin: 0 15px;
}

.lost-pass {
  border: 1px solid #4f95ff;
  border-radius: 5px;
  text-align: center;
  margin: 20px 20px 0 0;
  color: #4f95ff;
}

.brd {
  margin-bottom: 20px;
  border-radius: 5px;
}

.order_box {
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  text-align: right;
  background: #e5ecee;
  padding: 30px;
}
.order_box h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 20px;
  font-weight: bold;
  color: #c5322d;
  padding-bottom: 15px;
}
.order_box .list li a {
  font-size: 16px;
  color: #222222;
  border-bottom: 1px solid #eeeeee;
  display: block;
  line-height: 42px;
}

.boldw {
  font-weight: bold;
}

.order_box .list li a span {
  float: left;
}
.order_box .list li a .middle {
  float: none;
  width: 50px;
  text-align: left;
  display: inline-block;
  margin-right: 30px;
  color: #222222;
}
.order_box .list li:nth-child(4) a .middle {
  margin-right: 48px;
}
.order_box .list_2 li a {
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
}
.order_box .list_2 li a span {
  color: #777777;
  text-transform: capitalize;
}
.order_box .list_2 li:last-child a span {
  color: #222222;
}
.order_box .payment_item h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
  padding-right: 22px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
}
.order_box .payment_item h4:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  background: #fff;
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.order_box .payment_item h4:after {
  content: "";
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 5px;
  top: 8px;
}
.order_box .payment_item h4 img {
  padding-right: 60px;
}
.order_box .payment_item p {
  background: #fff;
  padding: 20px;
}
.order_box .payment_item.active h4:before {
  background: #ffba00;
  border-color: #ffba00;
}
.order_box .creat_account {
  margin-bottom: 15px;
}
.order_box .creat_account label {
  padding-right: 10px;
  font-size: 12px;
  color: #222222;
}
.order_box .creat_account a {
  color: #c5322d;
}
.order_box .primary-btn {
  display: block;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
}
.order_box .primary-btn:hover:before {
  left: 310px;
}

.f-option4 {
  font-size: 12px;
}

.primary-btn {
  font-size: 20px;
  font-weight: bold;
  border: 1.5px solid #c5322d;
  color: #c5322d;
  border-radius: 5px;
}
